.nav {
}

ul {
  display: inline-flex;
  gap: 10px;
  text-align: center;
  list-style: none;
  background-colro: green;
}

li a {
  text-decoration: none;
  color: #000;
}

li a.active {
  color: yellow;
}
